= render 'shared/header'
#account-page.account-page.favorite-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      .title Favorite User
    .favorite-user__box
      -@users.each do |user|
        - @favorite_users.each do | favorite_user |
          -if user.id == favorite_user.user_id
            .favorite-user__ele
              = link_to "/favorite_user/other_user/#{favorite_user.user_id}" do
                -if user.image.present?
                  = image_tag "#{ user.image }", id: 'img_prev'
                -else
                  = image_tag asset_path("img_non_input.png"), id: 'img_prev'
                %span.mypage__name
                  =user.name
#account-page.favorite-page-form
  = form_tag "", method: :get, class: "search-user__form" do
    = text_field_tag :search,"", name: "keyword", placeholder: "Find User",class: "form-user-search"
  .search-user__box
    %ul.search-user__box--list