= render 'shared/header'
.edit-modal
  .title Like Detail
  .edit__main
    = form_for @like do |i|
      .image-field_wrapper
        .image-btn.image-edit-btn
          -if @like.image.present?
            = image_tag "#{ @like.image }", id: 'img_prev', class: 'like-edit_img'
          -else
            = image_tag asset_path("img_non_input.png"), id: 'img_prev'
      .text-field_wrapper
        = i.text_field :genre, placeholder: "Genre", autocomplete: 'off', class: "text-field"
      .text-field_wrapper
        = i.text_field :things, placeholder: "Things", autocomplete: 'off', class: "text-field"
      .text-field_wrapper
        = i.text_area :description, placeholder: "Description", autocomplete: 'off', class: "text-field description"
      .text-field_wrapper
        = i.text_field :url, placeholder: "Url", autocomplete: 'off', class: "text-field"
      .link__box
        = link_to "/favorite_user/other_user/#{@like.user_id}", class: "submit-btn edit-btn" do
          Back
     