#modal.modal
  .modal__title
    = fa_icon "times", class: "modal__cancel", id: "modal__cancel"
  .modal__main
    = form_for @new_like do |f|
      .image-field_wrapper
        .image-btn
          = f.file_field :image, id: 'like_img'
          -if @new_like.image.present?
            = image_tag @user.image, id: 'img_prev'
          -else
            = image_tag asset_path("img_non_input.png"), id: 'img_prev'
      .text-field_wrapper
        = f.text_field :genre, placeholder: "Genre", autocomplete: 'off', class: "text-field"
        -if @new_like.errors.full_messages_for(:genre).any?
          .alert
            Please enter
      .text-field_wrapper
        = f.text_field :things, placeholder: "Things", autocomplete: 'off', class: "text-field"
        -if @new_like.errors.full_messages_for(:things).any?
          .alert
            Please enter
      .text-field_wrapper
        = f.text_area :description, placeholder: "Description", autocomplete: 'off', class: "text-field description"
        -if @new_like.errors.full_messages_for(:description).any?
          .alert
            Please enter
      .text-field_wrapper
        = f.text_field :url, placeholder: "url", autocomplete: 'off', class: "text-field"
      = f.submit "OK", class: "submit-btn"